

.img-wrap{text-align:center;};

.img-wrap img{width:100%;};

.img-caption{text-align:left; padding:10px 30px; background-color:#f7f7f7;};

.desc-wrap{ margin-top:15px; float:left;width: 70%; background-color:#FFFFFF; padding:20px 30px;};

.form-wrap { width:25%; margin-top:15px; padding:20px; float:right; background-color:#dadada;};
