<div class="container">
  <h1>Rooftops</h1>
  <div class="row">
    <% @roofs.each do |roof| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <%= render roof %>
    </div>
    <% end %>
  </div>
</div>


