<div class="img-wrap">
 <%= cl_image_tag @rooftop.photo, height: 300, width: 400, crop: :fill %>
<div class="img-caption">
<h3>Rooftops - pool, garden</h3>
<p>€ 5 ,-ppm./benyehuda 138, Tel aviv</p>
</div>
</div>

<div class="desc-wrap">
<h4>Description</h4>
<p>Huge roof top is now available in this clean and spacious building.
there is three bar and supermarket around, and its in the central space with famous clubs around.</p>
<h4>Included</h4>
<p>Our Rooftop has everthing you could wish for. Amazing Barbecue, fast wifi and big pool. Garden and bar of course.</p>
<h4>Rules</h4>
<p>No specific rules except that from 4 am no music allowed anymore!</p>
</div>
<div class="form-wrap">
<input type="text" name="" placeholder="1/10/2019">
<button>Day</button>
<button>Night</button>
<input type="submit" placeholder="Submit">
</div>

