<div id="Bookings">
  <h1>Bookings</h1>
  <div>
    <div>
      <div class="row">
        <% @bookings.each do |booking| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class= "booking">
              <div class="roof-image" style="background-image: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url('http://dubaitravelblog.com/wp-content/uploads/2017/02/best-rooftop-bars-in-Dubai.jpg');">
              </div>
              <div class="booking-content">
                <div class= "booking-details">
                  <p> <%= booking.date %> </p>
                </div>
                <div class="booking-description">
                  <p> <%= booking.price %></p> <h8> <%= booking.period %> </h8>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
