@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;};

.header{height:70px; display:block; background-color:#ffffff; padding:20px 30px; box-sizing:border-box;}

.left-nav-wrap{float:left};

.right-nav-wrap{float:right;};

.left-nav li

.right-nav li{list-style:none; float:left;};

.left-nav a, .right-nav a{color:#b3b3b3; text-decoration:none; padding:15px;};

.img-wrap{text-align:center;};

.img-wrap img{width:100%;};

.img-caption{text-align:left; padding:10px 30px; background-color:#f7f7f7;};

.desc-wrap{ margin-top:15px; float:left;width: 70%; background-color:#FFFFFF; padding:20px 30px;};

.form-wrap { width:25%; margin-top:15px; padding:20px; float:right; background-color:#dadada;};
