<div class="navbar-wagon navbar-white">
  <!-- Logo & Name of the Startup -->
  <div class="logo-div">
    <a href="/search"><img class="logo" src="https://image.ibb.co/jtnCn0/Screenshot-2018-11-20-at-10-42-42.png" alt="retro-sun-bursts-vintage-radiant-sun-rays-shape-vector-16304033" alt="logo"><h7>RoofParty</h7>
    </a>
  </div>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://image.ibb.co/m1jNkL/icon.jpg" width="30px" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to 'Profile', dashboard_path %></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>



