<div class="navbar-wagon navbar-default navbar-fixed-top">
  <!-- Logo & Name of the Startup -->
  <a href="/search" class="navbar-wagon-brand"><img class="logo" src="https://image.ibb.co/jtnCn0/Screenshot-2018-11-20-at-10-42-42.png" alt="retro-sun-bursts-vintage-radiant-sun-rays-shape-vector-16304033" alt="logo"><h7>RoofParty</h7>
  </a>
</div>



