.btn-start {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: lighter;
  background: #3DCCC7;
  transition: background 0.3s ease;
  width: 200px;
}
.btn-start:hover {
  opacity: 1;
  background-color: #07BEB8;
  text-decoration: none;
  color: white;
}
